.games {
  background-color: #fbfcfd;
}

.games main.main-wrapper {
  margin-left: 340px;
  height: 100%;
  margin-right: auto;
  position: relative;
  padding: 50px 50px 50px 0px;
}

.games main .main-content {
  max-width: 900px;
}

.text-header {
}

.featured-game .overflow-setting {
  overflow-x: auto;
  overflow-y: hidden;
}

.featured-game .featured-game-card {
  transition: all 0.4s;
  border-radius: 1.625rem;
  width: 205px;
  height: 270px;
}

.featured-game .featured-game-card:hover {
  transition: all 0.4s;
  border: 4px solid #2b2467;
}

.featured-game .featured-game-card:hover img.thumbnail {
  transition: all 0.4s;
  filter: blur(40px);
  width: 181px;
  height: 246px;
}

.featured-game .featured-game-card .blur-sharp {
  overflow: hidden;
  border-radius: 1.625rem;
}
.featured-game .featured-game-card:hover .blur-sharp {
  width: 192px;
  border: 7px solid white;
}

.featured-game .cover {
  transition: all 0.4s;
  opacity: 0;
  left: 0;
  right: 0;
  height: -webkit-fill-available;
}

.featured-game .featured-game-card:hover .cover {
  opacity: 1;
}

.featured-game .game-icon {
  margin-top: 3.125rem;
}
