/* Sign Up */

.sign-up input[type='password'],
.sign-up input[type='email'],
.sign-up input[type='text'] {
  border: 1px solid #22577a;
  padding: 0.75rem 1.625rem;
  color: #82c0cc;
}

.sign-up input[type='password']:focus-within,
.sign-up input[type='email']:focus-within,
.sign-up input[type='text']:focus-within {
  color: #22577a;
}

.sign-up input[type='password']::placeholder,
.sign-up input[type='email']::placeholder,
.sign-up input[type='text']::placeholder {
  color: #82c0cc;
}

.sign-up .btn-sign-up {
  padding: 0.75rem;
  background-color: #82c0cc;
}

.sign-up .btn-sign-in {
  padding: 0.75rem;
  background-color: #e7eaf5;
}

.sign-up .button-group {
  width: 100%;
}

@media (min-width: 992px) {
  .sign-up .container,
  .sign-up input[type='password'],
  .sign-up input[type='email'] {
    max-width: 437px;
  }
}

/*  */
